@import "common";

// @import "./animate.min.css";
// home_bg
// .home-bg {
//   background: url("../assets/home_bg.png") no-repeat;
// }
// .steam-engine {
//   background: url("http://8.210.149.18/img/home_bg.5a918a8c.gif") no-repeat;
// }
// http: //8.210.149.18/home_bg.gif
#root {
  width: 100%;

  background-color: #000;

}

@font-face {
  font-family: GellixMedium;
  src: url('./font/GellixMedium.ttf');
}

@font-face {
  font-family: GellixRegular;
  src: url('./font/GellixRegular.ttf');
}

@font-face {
  font-family: GellixSemibold;
  src: url('./font/GellixSemibold.ttf');
}

@font-face {
  font-family: ArialBlack;
  src: url('./font/ArialBlack.ttf');
}
@font-face {
  font-family: ArialBold;
  src: url('./font/ArialBold.ttf');
}

.home-warp {
  width: 100%;
  background-color: #000;
  overflow: hidden;
  background: url('../assets/组 8166.png') no-repeat;
  background-size: 100% 100%;
  padding-top: 0.92rem;


  .home-text {
    position: relative;
    margin: 0 auto .34rem;
    width: 1096.11px;

    .icon-top {
      position: absolute;
      right: 0;
      top: 100px;
      display: flex;
      justify-content: flex-end;
      // display: -webkit-flex;
      /* Safari */
      -webkit-justify-content: flex-end;
      /* Safari 6.1+ */
      // margin-bottom: 20px;
      margin: 0 auto;
      width: 1096.11px;
      margin-bottom: 15px;

      img {
        margin-left: .28rem;
      }
    }

  }

  .new-logo-bg {
    width: 1096.11px;
    height: 754.33px;
    position: relative;
    z-index: 999;
    left: 50%;
    // transform: translateX(-50%);
    // transform: translate(-50%, -50%);
    transform: translateX(-50%);
  }

  .steam-engine,
  .home-bg {
    // position: absolute;
    width: 100%;
    // height: 100%;
  }

  .steam-engines {
    position: absolute;
    left: 0;
    bottom: 6px;
    left: 50%;
    // transform: translateX(-50%);
    // transform: translate(-50%, -50%);
    transform: translateX(-50%);
    background: linear-gradient(180deg, #271330 0%, #070719 100%);
  }

  .steam-engine {

    width: 1086.11px;
    // height: 750.33px;

  }

  .home-content {
    // display: flex;
    overflow: hidden;
    width: 100%;
    height: 96.54px;
    // background: url('../assets/home-enter.png');
    position: absolute;
    bottom: 0.03rem;
    right: 0;
    z-index: 5555555;
    background: rgba(0, 0, 0, 0.39);
    // padding: 0 16px 0 33px;
    display: flex;
    // padding-top: 24px;
    // padding-right: 37px;
    align-items: center;
    justify-content: space-between;

    .home-texts {
      margin-left: 33px;
      font-size: 24px;
      font-family: ArialBlack;
      line-height: 28px;
      color: #FFFFFF;
    }

    .but {
      width: 262.93px;
      height: 48px;
      background: rgb(255, 150, 3);
      opacity: 1;
      border-radius: .1rem;
      margin-right: 33px;
      font-size: 21px;
      font-family: ArialBold;
      line-height: 48px;
      color: #000000;
      text-align: center;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      .butj{
        width: 9.17px;
        height: 12.67px;
        margin-left: 20px;
      }
    }

    @keyframes opacitysUp {
      from {

        opacity: 1;
      }

      to {
        opacity: 0.3;

      }
    }

    p {
      width: 3.66rem;
      font-size: .34rem;
      font-family: ArialBlack;
      line-height: .4rem;
      text-align: right;
      // margin: 0px .37rem 0 0;
    }



    .text-box {
      display: flex;
      flex-direction: column;
      // justify-content: end;
      align-items: flex-end;
      margin: 0px .37rem 0 0;
    }
  }

  .foot-text {
    width: 8.74rem;
    font-size: .22rem;
    font-family: GellixMedium;
    line-height: .4rem;
    color: #F8F1DC;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 0.51rem;
  }


}


.about-warp-bg {
  background: url("../assets/bg.png") no-repeat;
  background-size: 100% 100%;
  width: 100%;
  // height: 100vh;
}


.mints-warp {
  width: 100%;
  // height: 100%;
  position: relative;
  overflow: hidden;
  background: url('../assets/bg-1111.png') no-repeat;
  background-size: 100% 100%;

  .mints-bg {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .mints-content {
    position: relative;
    // width: 14.71rem;
    margin: 0.74rem auto 0;
    // display: flex;
    // background: rgba(21, 22, 43, 0.39);

    .your-h1 {
      width: 100%;
      text-align: center;
      font-size: .54rem;
      font-family: ArialBlack;
      line-height: .72rem;
      color: #FFF1CE;
      margin-top: 1.05rem;
      margin-bottom: 1.07rem;
    }

    .text-centent {
      width: 17.73rem;
      height: 1.3rem;
      background: rgba(21, 22, 43, 0.39);
      box-shadow: 0px 0px 30px rgba(255, 147, 0, 0.3);
      margin: 0 auto;
      margin-bottom: .93rem;


      // position: relative;
    }

    .input1 {
      width: 3.32rem;
      height: .34rem;
      background: rgba(0, 0, 0, 1);
      border-radius: 3px;
      margin: 0 auto;
      padding: .05rem;
      display: flex;
      justify-content: space-between;
      margin-bottom: .2rem;

      img {
        height: 0.34rem;
        cursor: pointer;
      }

      input {

        width: 2.33rem;
        text-align: left;
        background: transparent;
        outline: none;
        border: none;
        font-size: .3rem;
        font-family: Gellix;
        font-weight: 400;
        line-height: .36rem;
        color: #FFFFFF;
        text-align: center;
      }

      input::-webkit-input-placeholder {
        /* WebKit browsers 适配谷歌 */
        font-size: 16px;
        font-family: Gellix;
        font-weight: 400;
        line-height: 31px;
        color: rgba(255, 255, 255, 0.3);
        // opacity: 0.3;
        line-height: 0.3rem;
      }
    }

    .but-nimt {
      width: 3.32rem;
      height: .62rem;
      background: rgba(255, 147, 0, 1);
      // opacity: 1;
      border-radius: 3px;
      margin: 0 auto;
      font-size: .3rem;
      font-family: Gellix;
      font-weight: 600;
      line-height: .6rem;
      text-align: center;
      color: #000000;
      margin-bottom: .2rem;
    }

    .text-nimt {
      font-size: .22rem;
      font-family: GellixSemiBold;
      height: .29rem;
      color: #FFF1CE;
      text-align: center;
      margin-bottom: .76rem;

      span {
        display: inline-block;
        width: .63rem;
        height: .29rem;
        background: rgba(255, 255, 255, 1);
        opacity: 1;
        border-radius: .2rem;
        margin-left: .2rem;
        font-size: .21rem;
        font-family: GellixSemiBold;
        // line-height: .35rem;
        color: #BC8254;
      }
    }

    .box {
      height: 100%;
      display: flex;
      // justify-content: space-between;
      align-items: center;
      font-size: .24rem;
      font-family: Gellix;
      font-weight: 400;
      // line-height: .7rem;
      color: #A0988B;
      padding: 0 .54rem;

      .t1 {

        line-height: .39rem;
        color: #FFF1CE;
        margin-right: 2.38rem;
      }

      .t2 {
        font-size: .53rem;
        font-family: GellixSemiBold;
        line-height: .63rem;
        color: #FFFFFF;
        text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.6);
        margin-right: 1.27rem;
      }

      .t3 {
        width: 2.44rem;
        height: 100%;
        position: relative;

        // margin-right: 1.27rem;
        .img-position {
          position: absolute;
          top: -0.55rem;
          width: 2.44rem;
          height: 2.44rem;

          img {}

          .img1 {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            transform: translate(-50%, -50%);
          }

          .img2 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            width: .55rem;
            height: 1.28rem;
          }
        }
      }

      .t4 {
        text-align: center;
        width: 3.93rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        font-size: .24rem;
        font-family: Gellix;
        font-weight: 400;
        // line-height: 70px;
        color: #A0988B;
      }

      .t5 {
        text-align: center;
        width: 3.8rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        font-size: .24rem;
        font-family: Gellix;
        font-weight: 400;
        // line-height: 70px;
        color: #A0988B;
      }

      .jg {
        width: 0px;
        height: 57px;
        border: 1px solid #FFF1CE;
        opacity: 1;
      }

      .tp1 {
        font-size: .31rem;
        font-family: GellixSemiBold;
        // line-height: .7rem;
        color: #FFF1CE;
      }
    }
  }
}

.your-warp {
  background-image: none !important;
  background: rgba(21, 22, 43, 0.39);
}


.fadeInUp {
  animation: fadeInUp 2s linear;
}

.boardFadeInUp {
  animation: boardFadeInUp 2s linear;
}

@keyframes boardFadeInUp {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    transform: translateY(-500px) !important;
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translateY(0) !important;
  }
}

.border {
  width: 14.7rem;
  margin: 0 auto;
}